
# AuthToken to install private `@workato/*` packages
# Can be generated on https://www.npmjs.com
//registry.npmjs.org/:_authToken=2390d401-2a27-40fb-ac4d-c6529ce5a9eb

loglevel = error
engine-strict = true
